<!--<weather-layout-header/>-->
<!--<router-outlet/>-->
<!--<weather-layout-footer/>-->
<!--<div class="infinite"  weatherInfiniteScroll (addRow)="loadMore()" >-->
<!--  @for (people of infiniteUsers(); track $index) {-->
<!--    <div class="item">{{people?.name}}</div>-->
<!--  }-->
<!--  <div  class="sentinel"></div>-->
<!--</div>-->

<!--ლოგინი-->

<!--@if (auth.isLoggedIn()) {-->
<!--  <div class="search-container">-->
<!--    <input-->
<!--      type="text"-->
<!--      placeholder="Search..."-->
<!--      class="search-input"-->
<!--      [(ngModel)]="searchName"-->
<!--      (ngModelChange)="onModelChange($event)"-->
<!--    />-->
<!--    <button class="search-button" (click)="onSearch(searchName)">🔍</button>-->
<!--  </div>-->
<!--  {{ searchName }}-->
<!--  <div class="infinite" weatherInfiniteScroll (addRow)="loadMore()">-->
<!--    @for (people of usersArray(); track $index) {-->
<!--      <div class="item"><p>{{ people?.id }}</p>-->
<!--        <p [innerHTML]="people?.name | abc: $searchName$()"></p>-->
<!--        <p>{{ people?.username }}</p>-->
<!--        <p>{{ people?.age }}</p></div>-->
<!--    }-->
<!--    <div class="sentinel"></div>-->
<!--  </div>-->
<!--  <button class="logout-btn" (click)="logout()">Log out</button>-->

<!--  <h3 (click)="markForCheck()" >{{markFor}}</h3>-->
<!--} @else {-->
<!--  <weather-login />-->
<!--}-->

<!--რეზპლუშენ მოდიფფაიერები-->
<!--<div weatherModifier>-->
<!--  <weather-resolution-modifier />-->

<!--  <div class="btn" (click)="update()">{{ mo.count() }}</div>-->
<!--</div>-->

<!--ჩეინჯ დეთექშენ სტრატეგიები-->

<!--<weather-parent />-->

<!--დეფენდეენს პროვიდერები-->

<!--<weather-dependency />-->
