<!--<weather-layout-header/>-->
<!--<router-outlet/>-->
<!--<weather-layout-footer/>-->
<!--<div class="infinite"  weatherInfiniteScroll (addRow)="loadMore()" >-->
<!--  @for (people of infiniteUsers(); track $index) {-->
<!--    <div class="item">{{people?.name}}</div>-->
<!--  }-->
<!--  <div  class="sentinel"></div>-->
<!--</div>-->

@if (auth.isLoggedIn()) {
  <div class="search-container">
    <input
      type="text"
      placeholder="Search..."
      class="search-input"
      [(ngModel)]="searchName"
      (ngModelChange)="onModelChange($event)"
    />
    <button class="search-button" (click)="onSearch(searchName)">🔍</button>
  </div>
  {{ searchName }}
  <div class="infinite" weatherInfiniteScroll (addRow)="loadMore()">
    @for (people of usersArray(); track $index) {
      <div class="item"><p>{{ people?.id }}</p>
        <p [innerHTML]="people?.name | abc: $searchName$()"></p>
        <p>{{ people?.username }}</p>
        <p>{{ people?.age }}</p></div>
    }
    <div class="sentinel"></div>
  </div>
  <button class="logout-btn" (click)="logout()">Log out</button>
} @else {
  <weather-login />
}
